.section {
    padding: 30px 0;
    border-top: 1px solid darken(white, 10%);

    &:first-child {
        border-top: none;
    }

    .sectionHeading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .title {
            font-size: 14px;
            text-transform: uppercase;
            color: #535353;
            font-weight: 500;
        }

        .link {
            font-size: 14px;
            text-transform: uppercase;
            color: #00a3ff;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .sectionBody {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-gap: 2em;
    }
}